<!doctype html>
<html lang='en'>
	<head>
		<meta charset='utf-8'>
		<title>Roadmap to your Virtual Degree</title>
	</head>

	<body>
		<header>
			<h1><a href='/'> Virtual Degree</a></h1>
		</header>

		<nav>
			<a href='/'>Home</a>
		</nav>

		<section>
			<h2>Latest courses</h2>
			<p>There is nothing to see here yet!</p>
		</section>
	</body>

</html>
