{{template "base" .}}

{{define  "title"}}Course #{{.Course.ID}}{{end}}

{{define "body"}}
	{{with .Course}}
	<div class="snippet">
		<div class="metadata">
			<strong>{{.Title}}</strong>
			<span>#{{.ID}}</span>
		</div>

		<pre><code>{{.Content}}</code></pre>
		<div class="metadata">
			<time>Created: {{.Created}}</time>
			<time>Expires: {{.Expires}}</time>
		</div>
	</div>
	{{end}}
{{end}}
